<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button color="primary">
        <ion-icon name="star"></ion-icon>
      </ion-button>
      <ion-button color="primary">
        <ion-icon name="heart-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Button</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Sizes -->
<ion-button size="large" expand="full" type="round">Large</ion-button>
<ion-button expand="full">Default</ion-button>
<ion-button size="small" expand="full">Small</ion-button>

<ion-grid>
  <ion-row>
    <ion-col>
      <ion-button expand="full" color="success">Success</ion-button>
    </ion-col>
    <ion-col>
      <ion-button expand="full" color="warning">Warning</ion-button>
    </ion-col>
    
  </ion-row>
</ion-grid>



</ion-content>