<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="primary" menu="primerMenu"></ion-menu-button>
    </ion-buttons>
    <ion-title color="primary">
      Componentes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Home</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-item *ngFor="let item of menuItems | async" [routerLink]="item.redirectTo" detail>
      <ion-icon slot="start" [name]='item.icon' color="primary"></ion-icon>
      <ion-label >{{item.name}}</ion-label>
      
    </ion-item>
  </ion-list>

  <!-- Expand -->
  <ion-button expand="full" [routerLink]="['/principal']" routerLinkActive="router-link-active">Principal</ion-button>
  <ion-button expand="block" [routerLink]="['/modal']" routerLinkActive="router-link-active">Modal</ion-button>


</ion-content>